<fieldset #udaje id="udaje" ngModelGroup="udaje">

<div *ngIf="data.pojisteni == 'ZAMODP';then zam_tmpl"></div>
<div *ngIf="data.pojisteni == 'OBODP';then obc_tmpl"></div>

<ng-template #zam_tmpl>

<div class="row">	
	<!-- první sloupec -->
	<div class="{{ layout.grid.column1 }}">
		<div class="form-group row">
			<label class="{{ layout.grid.label }} col-form-label"
				placement="right"
				triggers="mouseenter:mouseleave"		
				popover="{{ 'POJISTKA.POCATEK.HINT' | translate }}">
				{{ 'POJISTKA.POCATEK.LABEL' | translate }}
			</label>		
			<div class="{{ layout.grid.input }}">
				<div class="input-group">
					<input name="pocatek" class="form-control" type="text" placeholder="{{ 'POJISTKA.POCATEK.PLACEHOLDER' | translate }}" 
						bsDatepicker
						[bsConfig]="bsConfig"
						[minDate]="minDate"
						[maxDate]="maxDate"
						[(ngModel)]="data.pocatek"
						#Pocatek="ngModel" #dp="bsDatepicker" required autocomplete="off" />
					<div class="input-group-append" (click)="dp.show()">
						<span class="input-group-text"><i class="fa fa-calendar"></i></span>
					</div>
				</div>	
			</div>
			<small [hidden]="Pocatek.valid || (Pocatek.pristine && !submitted)" class="text-danger offset-sm-3 col-sm-9">
				{{ 'FORM.VALIDATION.REQUIRED' | translate }}
			</small>			
        </div>
        <!-- připojištění -->
        <div *ngIf="r.extra.length">
            <h4 class="vagl">{{ 'POJISTKA.PRIPOJISTENI' | translate }}</h4>
            <div *ngFor="let e of r.extra; let i = index;" class="form-group row">
                <!-- seznamy -->
                <ng-template [ngIf]="e.typ === 'select'">
                    <label class="{{ layout.grid.label }}  col-form-label"
                        placement="right"
                        triggers="mouseenter:mouseleave"	
                        popover="{{ e.text }}">
                        {{ e.label }}
                    </label>		
                    <div class="{{ layout.grid.input }}"> 
                        <ngx-select
                            name = "{{ e.kod }}" class="" #iPrip="ngModel"
                            placeholder="{{ 'FORM.SELECT.DEFAULT' | translate }}"
                            noResultsFound="{{ 'FORM.SELECT.NOTFOUND' | translate }}"
                            [keepSelectedItems]="false"
                            [items]="e.hodnota.options"
                            [allowClear]="false"
                            [(ngModel)]="r.params[e.kod].hodnota"
                            (select)="prepocetCeny(e.kod)" 
                            required>
                        </ngx-select>			
                    </div>
                    <small [hidden]="iPrip.valid || (iPrip.pristine && !submitted)" class="text-danger offset-sm-5 {{ layout.grid.input }}">
                        {{ 'FORM.VALIDATION.REQUIRED' | translate }}
                    </small>
                </ng-template>
                <!-- radios -->
                <ng-template [ngIf]="e.typ === 'radio'">
                    <label class="{{ layout.grid.labelw }} col-form-label"
                        placement="right"
                        triggers="mouseenter:mouseleave"
                        popover="{{ e.text }}">                        		
                        {{ e.label }}
                    </label>
                    <div class="{{ layout.grid.inputw }}">   		
                        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">

                            <label *ngFor="let o of e.hodnota.options" class="btn btn-outline-primary"
                                (click)="prepocetCeny(e.kod)"
                                [class.active]="r.params[e.kod].hodnota === o.value">
                                <input name="{{e.kod}}" [(ngModel)]="r.params[e.kod].hodnota" [value]="o.value" type="radio" />
                                {{ o.label }}
                            </label>

                        </div>
                        <span class="align-middle pl-4" *ngIf="r.params[e.kod].hodnota > 0">+{{ r?.pripojisteni[e.kod]*r.ob_sleva | telefonFormat }}&nbsp;{{ 'FORM.KC' | translate }}</span>
                    </div>
                </ng-template>

            </div>
        </div>          		
	</div>
	<!-- druhý sloupec -->
	<div class="{{ layout.grid.column2 }}">
		<app-produktinfo *ngIf="r" [(data)]="data" [r]="r" [layout]="layout"></app-produktinfo>
		<div class="hidden-md-up mb-4"></div>	
	</div>
</div>	

</ng-template>  

<ng-template #obc_tmpl>

<div class="row">	
	<!-- první sloupec -->
	<div class="{{ layout.grid.column1 }}">
		<div class="form-group row">
			<label class="{{ layout.grid.label }} col-form-label"
				placement="right"
				triggers="mouseenter:mouseleave"		
				popover="{{ 'POJISTKA.POCATEK.HINT' | translate }}">
				{{ 'POJISTKA.POCATEK.LABEL' | translate }}
			</label>		
			<div class="{{ layout.grid.input }}">
				<div class="input-group">
					<input name="pocatek" class="form-control" type="text" placeholder="{{ 'POJISTKA.POCATEK.PLACEHOLDER' | translate }}" 
						bsDatepicker
						[bsConfig]="bsConfig"
						[minDate]="minDate"
						[maxDate]="maxDate"
						[(ngModel)]="data.pocatek"
						#Pocatek="ngModel" #dp="bsDatepicker" required autocomplete="off" />
					<div class="input-group-append" (click)="dp.show()">
						<span class="input-group-text"><i class="fa fa-calendar"></i></span>
					</div>
				</div>	
			</div>
			<small [hidden]="Pocatek.valid || (Pocatek.pristine && !submitted)" class="text-danger offset-sm-3 col-sm-9">
				{{ 'FORM.VALIDATION.REQUIRED' | translate }}
			</small>			
        </div>
        <!-- připojištění -->
        <div *ngIf="r.extra.length">
            <h4 class="vagl">{{ 'POJISTKA.PRIPOJISTENI' | translate }}</h4>
            <div *ngFor="let e of r.extra; let i = index;" class="form-group row">
                <!-- seznamy -->
                <ng-template [ngIf]="e.typ === 'select'">
                    <label class="{{ layout.grid.label }}  col-form-label"
                        placement="right"
                        triggers="mouseenter:mouseleave"	
                        popover="{{ e.text }}">
                        {{ e.label }}
                    </label>		
                    <div class="{{ layout.grid.input }}"> 
                        <ngx-select
                            name = "{{ e.kod }}" class="" #iPrip="ngModel"
                            placeholder="{{ 'FORM.SELECT.DEFAULT' | translate }}"
                            noResultsFound="{{ 'FORM.SELECT.NOTFOUND' | translate }}"
                            [keepSelectedItems]="false"
                            [items]="e.hodnota.options"
                            [allowClear]="false"
                            [(ngModel)]="r.params[e.kod].hodnota"
                            (select)="prepocetCeny(e.kod)" 
                            required>
                        </ngx-select>			
                    </div>
                    <small [hidden]="iPrip.valid || (iPrip.pristine && !submitted)" class="text-danger offset-sm-5 {{ layout.grid.input }}">
                        {{ 'FORM.VALIDATION.REQUIRED' | translate }}
                    </small>
                </ng-template>
                <!-- radios -->
                <ng-template [ngIf]="e.typ === 'radio'">
                    <label class="{{ layout.grid.labelw }} col-form-label"
                        placement="right"
                        triggers="mouseenter:mouseleave"
                        popover="{{ e.text }}">                        		
                        {{ e.label }}
                    </label>
                    <div class="{{ layout.grid.inputw }}">   		
                        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">

                            <label *ngFor="let o of e.hodnota.options" class="btn btn-outline-primary"
                                (click)="prepocetCeny(e.kod)"
                                [class.active]="r.params[e.kod].hodnota === o.value">
                                <input name="{{e.kod}}" [(ngModel)]="r.params[e.kod].hodnota" [value]="o.value" type="radio" />
                                {{ o.label }}
                            </label>

                        </div>
                        <span class="align-middle pl-4" *ngIf="r.params[e.kod].hodnota > 0">+{{ r?.pripojisteni[e.kod]*r.ob_sleva | telefonFormat }}&nbsp;{{ 'FORM.KC' | translate }}</span>
                    </div>
                </ng-template>

            </div>
        </div>          		
	</div>
	<!-- druhý sloupec -->
	<div class="{{ layout.grid.column2 }}">
		<app-produktinfo *ngIf="r" [(data)]="data" [r]="r" [layout]="layout"></app-produktinfo>
		<div class="hidden-md-up mb-4"></div>	
	</div>
</div>	
</ng-template>

</fieldset>
